/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* generics */

h1,
h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 30px 170px;
}

.d-flex {
    display: flex;
}

header>div {
    background-color: #255EE9;
    line-height: 2.6;
}

.link-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.link-list>li {
    margin: 0 10px;
}


.main-nav {
    flex-grow: 1;
    background-color: transparent;
}

.bg-alternative {
    background-color: #F6F6F6;
}

section {
    min-height: 450px;
}

#first-item {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 170px;
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    text-align: center;
}

.first-section {
    background-color: transparent;
    min-height: 300px;
    max-width: 75%;
    margin: 30px auto;
}

.first-section>* {
    margin-bottom: 30px;
    line-height: 1.6;
}


.little {
    background-color: trasparent;
    width: 40%;
}

.little>* {
    max-width: 100%;
    margin: 20px 0 20px 80px;
}

#margin-reverse {
    background-color: trasparent;
    width: 40%;
}

#margin-reverse>* {
    max-width: 100%;
    margin: 20px 80px 20px 0;
}

.big {
    background-color: trasparent;
    width: 60%;
}

.reverse {
    flex-direction: row-reverse;
}

.last-section {
    width: 100%;
    min-height: 500px;
    background-color: transparent;
    text-align: center;
}

.last-section h2 {
    margin-bottom: 20px;
}



.bg-dark {
    background-color: #232629;
    color: white;
}


.main {
    background-color: transparent;
    width: calc(100% / 3);
    min-height: 350px;
    border-bottom: 1px solid lightgray;

}

.secondary {
    background-color: trasparent;
    width: 17%;
    min-height: 350px;
    border-bottom: 1px solid lightgray;
}

.first-footer {
    width: 1200px;
}

.second-footer {
    width: 100%;
    height: 70px;
    justify-content: space-between;
    background-color: transparent;
    text-align: center;
    padding: 0;
    align-items: center;

}

.select-container {
    margin-bottom: 15px;
}

/* utility */

img {
    max-width: 100%;
}

.rounded {
    border: 1px solid transparent;
    border-radius: 25px;
    padding: 5px 10px;
    margin: 20px 0;
}

.ibrid-bg {
    width: 160px;
    text-align: center;
    line-height: 2.4;
    background-color: #8EA1E1;
    color: white;
}

.second-footer>button {
    width: 100px;
    text-align: center;
    line-height: 2.4;
    background-color: #8EA1E1;
    color: white;
}

.main:first-child {
    color: #8EA1E1;
}

.secondary>ul>li:first-child {
    font-weight: bold;
    color: #8EA1E1;
    margin-bottom: 5px;
}

li {
    margin-bottom: 5px;
}

.fa-solid {
    margin: 0 5px;
}

.fonts-style {
    color: white;
    margin-bottom: 5px;
}

.dark-font {
    background-color: white;
    color: black;
    align-self: center;
    border-radius: 25px;
    width: 80px;
    text-align: center;
}

.logos {
    width: 25px;
    color: white;
}

.star {
    background-image: url(../img/stars.svg);
    background-size: contain;
}